<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="prueba-computed">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <template
      is="dom-if"
      if=[[emptyProducts]]>
      No existen productos que mostrar.
    </template>

    <template
      is="dom-repeat"
      items=[[cliente.productos]]
      as="producto">
      <p>
        <h4>[[index]]</h4>
        <h3>Id: [[producto.id]]</h3>
        <h3>Nombre: [[producto.nombre]]</h3>
      </p>
    </template>
  </template>

  <script>
    /**
     * `prueba-computed`
     * ...
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PruebaComputed extends Polymer.Element {
      static get is() { return 'prueba-computed'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: 'Pablo'
          },
          apellidos: {
            type: String
          },
          datosPersonales: {
            type: String,
            computed: '_computeDatosPersonales(nombre, apellidos, cliente.productos.*)',
            value: '---> VALOR POR DEFECTO COMPUTACION',
            observer: '_observeDatosPersonales'
          },
          cliente: {
            type: Object,
            value: {
              nombre: '',
              apellidos: '',
              productos: []
            }
          },
          emptyProducts: {
            type: Boolean,
            computed: '_computeEmptyProducts(cliente.productos.*)'
          }
        };
      }

      static get observers() {
        return [
          // Observer method name, followed by a list of dependencies, in parenthesis
          'misDatosChanged(nombre, apellidos, datosPersonales)',
          '_clienteChanged(cliente.productos.*)'
        ]
      }

      _computeEmptyProducts(recordChange) {
        const products = recordChange.base;

        return !products || products.length <= 0;
      }

      _clienteChanged(recordChange) {
        console.log('observer (complex)');
        console.log('recordChange', recordChange);
      }

      misDatosChanged(nombre, apellidos, datosPersonales) {
        console.log('misDatosChanged (COMPLEX) -->');
        console.log('nombre', nombre);
        console.log('apellidos', apellidos);
        console.log('datosPersonales', datosPersonales);
      }

      _observeDatosPersonales(newValue, oldValue) {
        console.log('_observeDatosPersonales (SIMPLE) -->');
        console.log('newValue', newValue);
        console.log('oldValue', oldValue);
      }

      _computeDatosPersonales(nombre, apellidos, productos) {
        console.log('_computeDatosPersonales -->');
        console.log('nombre', nombre);
        console.log('apellidos', apellidos);
        console.log('productos', productos);

        if (nombre && apellidos) {
          return `${nombre} ${apellidos}`; // ES6 string literal
          // return nombre + ' ' + apellidos;
        }

        return '---';
      }
    }

    window.customElements.define(PruebaComputed.is, PruebaComputed);
  </script>
</dom-module>
