<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h2>Soy el Receptor</h2>
    <h2>Este curso es [[course]]</h2>
    <h2>y estamos en el año [[year]]</h2>

    <input type="text" value="{{course::input}}"></input>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course :{
            type : String,
            observer: '_courseChanged' //esta función se ejecuta al detectarse cambios en el valor de esta propiedad
          },year :{
            type : String
          }
        };
      }

      _courseChanged(newValue, oldValue){
        console.log("Course value has changed");
        console.log("Old values is " + oldValue);
        console.log("New values is " + newValue);
      }
    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
