<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1>Sus cuentas</h1>

    <template is="dom-repeat" items="{{accounts}}">
      <h2>IBAN: {{item.iban}}</h2>
      <h2>Balance: {{item.balance}}</h2>
    </br>
    </template>

    <iron-ajax auto="true"
      id="getAcount"
      url="http://localhost:3000/apitechu/v1/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          iban: {
            type: String
          },balance: {
            type: Number
          },userid: {
            type: Number
          },accounts: {
            type: Array
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);
        this.accounts = data.detail.response;
        /*
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;
        */
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
